.main-chat
  .main-chat__header
    .main-chat__header__group
      .main-chat__header__group__name
        test
      .main-chat__header__group__member
        Member : kota
    = link_to "#", class: "main-chat__header__edit-btn" do
      Edit
  .main-chat__message-list
    .main-chat__message-list--1
      .main-chat__message-list--1__data
        %p.main-chat__message-list--1__data__name
          kota
        %p.main-chat__message-list--1__data__date
          2020/02/22(wed) 14:38:00
      .main-chat__message-list--1__message
        おはよう！
    .main-chat__message-list--2
      .main-chat__message-list--2__data
        %p.main-chat__message-list--2__data__name
          kota
        %p.main-chat__message-list--2__data__date
          2020/02/22(wed) 14:41:00
      .main-chat__message-list--2__message
        今日は夜から雨
  .main-chat__footer
    .main-chat__footer__message-form
      %input.main-chat__footer__message-form--text{:placeholder => "type a message", :type => "text"}/
      %label{class: "main-chat__footer__message-form--label"}
        = icon('far','image')
        %input{type: "file", class: 'main-chat__footer__message-form--label--img'}
    .main-chat__footer__send-btn
      Send